
@use 'sass:color';
@use '../abstracts/variables' as *; // Import the core color definitions
@use '../abstracts/colors' as *; // Import the core color definitions
@use '../base/typography' as *; // Import the core color definitions

.hero-video {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../images/video/main-hero-poster.jpg');
  animation: switch-poster 15s steps(1) infinite;

  @media (min-width: $breakpoint-lg) {
    background: none;
    animation: none;
  }

  &__video {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; min-height: 100%;
    width: auto; height: auto;
    z-index: 1;

    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
}

// Kluczowe klatki animacji
@keyframes switch-poster {
  0%, 33.333% {
    background-image: url('../../images/video/main-hero-poster.jpg');
  }
  33.334%, 66.666% {
    background-image: url('../../images/video/main-hero-poster-alt-1.jpg');
  }
  66.667%, 100% {
    background-image: url('../../images/video/main-hero-poster-alt-2.jpg');
  }
}
