@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;
@use '../mixins/mixins' as *;
@use '../mixins/mixins-divs.scss' as *;
@use '../mixins/mixins-backgrounds.scss' as *;
@use 'sass:color';


// Główny blok komponentu
.content-switcher {
    
    // Karta w lewej kolumnie
    &__card {
        &.--is-active {
            box-shadow: 0 0 0 2px $cherry;
        }
    }
    
    // Kontener wyświetlacza po prawej stronie
    &__display {
        transition: opacity 300ms ease-in-out;
        
        &.--is-fading {
            opacity: 0;
            .content-switcher__fade-in {
                opacity: 0;
                transition-delay: 0ms !important;
            }
        }
    }
    
    // Uniwersalna klasa do animacji kaskadowej
    &__fade-in {
        opacity: 1;
        transition: opacity 400ms ease-in-out;
    }
    
    // Kaskadowe opóźnienie dla poszczególnych elementów
    &__image { transition-delay: 50ms; }
    &__title { transition-delay: 70ms; }
    &__price-wrapper { transition-delay: 70ms; } // Teraz to na pewno zadziała
    &__description { transition-delay: 120ms; }
}


