<div class="articleCard articleCard--big">
    <img src="https://placehold.co/600x360" alt="" class="articleCard-big__img">
    <div class="articleCard__header">
        <h2 class="articleCard__header--title">This is title</h2>
        <p class="articleCard__header--desc">This is description of the article featured by this card.</p>
    </div>
    <div class="articleCard__info">
        <div class="articleCard__info--date">
        <img src="../images/svg/articleCard--calendar.svg" alt="" class="icon-svg">
        <p>20.02.2025</p>
        </div>
        <div class="articleCard__info--time">
        <img src="articleCard__info--calendar" alt="" class="icon-svg">
        <p>5</p>
        </div>
    </div>
</div>