{# <!DOCTYPE html>
<html>
<head>
    {% include 'partials/head.html.twig' %}
</head>
<body class="typography">
<header class="relative">
    {% include 'partials/header.html.twig' %}
    {% set hero_template = page.header.hero_type|default('main-hero') %}
    {% include 'partials/' ~ hero_template ~ '.html.twig' %}
</header>

    <div id="main-content" class="grid-container">
        <aside class="grid-container__sidebar">
            {% include 'partials/aside.html.twig' %}
        </aside>

        <main class="grid-container__main-content">
            {% for module in page.collection() %}
                {{ module.content|raw }}
            {% endfor %}

            {% include 'partials/contact.html.twig' %}
        </main>
    </div>

    <footer class="grid-container__footer white-marble-slab">
        {% include 'partials/footer.html.twig' %}
    </footer>
</body>
</html> #}

{# {% extends 'partials/base.html.twig' %}

{% block content %}
  {% for module in page.collection() %}
    {% include 'modular/' ~ module.template ~ '.html.twig' with {'page': module} %}
  {% endfor %}
{% endblock %} #}
{% extends 'partials/base.html.twig' %}

{% block content %}
    {% for module in page.collection() %}
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}
