<!DOCTYPE html>
<html>
<head>
    {% include 'partials/head.html.twig' %}
</head>
<body class="typography">
    <header class="relative">
        {% include 'partials/header.html.twig' %}
        {% set hero_type = page.header.hero_type|default('custom-hero') %}

        {% if hero_type == 'main-hero' %}
            {% include 'partials/main-hero.html.twig' %}
        {% else %}
            {% include 'partials/custom-hero.html.twig' %}
        {% endif %}
    </header>

    <div id="main-content" class="grid-container">
        <aside class="grid-container__sidebar">
            {% include 'partials/aside.html.twig' %}
        </aside>

        <main class="grid-container__main-content">
            {% block content %}{% endblock %}

            {% include 'partials/contact.html.twig' %}
        </main>
    </div>

    <footer class="grid-container__footer white-marble-slab">
        {% include 'partials/footer.html.twig' %}
    </footer>
</body>
</html>