  <div class="max-w-7xl mx-auto px-6 pt-16 pb-8">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mb-10">

                <div class="sm:col-span-2 lg:col-span-1">
                    <div class="mb-6 flex justify-center">
                        <img src="{{ theme_url }}/images/brand/full-logotype-vertical.svg" class="h-auto w-32" alt="Logo">
                    </div>
                    <p class="text-md leading-relaxed mb-4 text-left">
                        30 lat tradycji w wykonawstwie nagrobków dla klientów z&nbsp;Dąbrowy Górniczej i&nbsp;całego Śląska.
                    </p>
                </div>

                <div>
                    <h4 class="text-lg font-medium c-ink border-bot-cherry mb-4">Nagrobki</h4>
                    <ul class="space-y-2 text-sm">
                        <li><a href="#produkt2" class="text-gray-700 hover:c-cherry transition-colors link-hover-fill">Nagrobek pełnowymiarowy</a></li>
                        <li><a href="#produkt1" class="text-gray-700 hover:c-cherry transition-colors link-hover-fill">Nagrobek na urnę</a></li>
                    </ul>
                </div>

                <div>
                    <h4 class="text-lg font-medium c-ink border-bot-cherry mb-4">Usługi</h4>
                    <ul class="space-y-2 text-sm">
                        <li><a href="#uslugi" class="text-gray-700 hover:c-cherry transition-colors link-hover-fill">Renowacje pomników</a></li>
                        <li><a href="#uslugi" class="text-gray-700 hover:c-cherry transition-colors link-hover-fill">Czyszczenie nagrobków</a></li>
                        <li><a href="#uslugi" class="text-gray-700 hover:c-cherry transition-colors link-hover-fill">Sprzątanie</a></li>
                    </ul>
                </div>

                <div>
                    <h4 class="text-lg font-medium c-ink border-bot-cherry mb-4">Informacje</h4>
                    <ul class="space-y-2 text-sm">
                        <li>
                            <a href="tel:+4892182400684" class="text-gray-700 hover:c-cherry transition-colors link-hover-fill">
                                Telefon: <span class="ltr:inline rtl:hidden">+48 921 824 006 84</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:kontakt@kamieniarstwowisniewski.pl" class="text-gray-700 hover:c-cherry transition-colors link-hover-fill">
                                Email: kontakt@kamieniarstwowisniewski.pl
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <hr class="border-gray-700 my-8">

            <div class="flex flex-col sm:flex-row justify-between items-center text-sm c-ink">
                <p class="mb-4 sm:mb-0">
                    &copy; <span id="currentYear"></span> Kamieniarstwo Wiśniewski. Wszelkie prawa zastrzeżone.
                </p>
                <div class="flex gap-4">
                    <a href="#" class="hover:text-red transition-colors">Polityka Prywatności</a>
                    <a href="#" class="hover:text-red transition-colors">Mapa strony</a>
                </div>
            </div>
        </div>