{# SEKCJA MOBILNA #}
<section class="px-4 py-16 max-w-screen-xl mx-auto lg:hidden">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">

        <h1 class="text-4xl text-center lg:text-left lg:text-3xl font-bold text-gray-800 mb-8 lg:col-start-1 lg:row-start-1">
            Jak budujemy nasze nagrobki?
        </h1>

        <div class="bg-graph w-full p-8 rounded-lg shadow-lg bg-center bg-animate-slide lg:col-start-2 lg:row-start-1 lg:row-span-4 js-svg-container">
            <div class="svg-container">
                {% include 'svgs/tombstone.html.twig' %}
            </div>
        </div>

        <div role="group" class="js-controls-container flex flex-col sm:flex-row rounded-md shadow-sm my-4 lg:col-start-1 lg:row-start-2">
            <button type="button" data-part="head" class="switch-button flex-1 px-4 py-2 text-sm font-semibold text-white bg-cherry rounded-t-md sm:rounded-tr-none sm:rounded-l-md switcher flex justify-center">
                Liternictwo
            </button>
            <button type="button" data-part="body" class="switch-button flex-1 px-4 py-2 text-sm font-semibold text-white bg-cherry switcher flex justify-center">
                Płyta
            </button>
            <button type="button" data-part="base" class="switch-button flex-1 px-4 py-2 text-sm font-semibold text-white bg-cherry rounded-b-md sm:rounded-bl-none sm:rounded-r-md switcher flex justify-center">
                Fundament
            </button>
        </div>

        <div class="lg:col-start-1 lg:row-start-3">
            <p class="text-lg text-gray-700">
                <b>Nasze usługi obejmują cały proces:</b> od selekcji odpowiedniego kamienia, po precycyjne i terminowe wykonawstwo z zastosowaniem najlepszych praktyk branżowych.
            </p>
            <div class="min-h-32 mb-4 js-desc-container">
                <p data-part="head" class="text-lg text-gray-700 tomb-desc">
                    Zwieńczeniem prac jest montaż nakrywy, płyty z napisami oraz galanterii nagrobkowej. 
                    Wazony, misy i krzyże <b>przytwierdzamy na stałe do płyty</b>, aby zabezpieczyć je przed silnymi wiatrami. 
                </p>
                <p data-part="body" class="text-lg text-gray-700 tomb-desc">
                    Gotowe, granitowe ramy leżące oraz stojące łączymy za pomocą <b>klamr ze stali nierdzewnej</b>, 
                    aby na kamieniu nigdy nie pojawiły się rdzawe zacieki. Wnętrze ramy wzmacniamy gęstą 
                    zaprawą cementową. Ten zabieg usztywnia całą bryłę pomnika od środka, czyniąc ją masywną i 
                    odporną na przypadkowe uderzenia. Całość uszczelniamy profesjonalnymi żywicami i silikonami, 
                    dopasowanymi do koloru kamienia.
                </p>
                <p data-part="base" class="text-lg text-gray-700 tomb-desc">
                    Budowę nagrobka rozpoczynamy od wykonania <b>solidnej, zbrojonej wylewki betonowej</b>. 
                    Jej zadaniem jest zabezpieczenie nagrobka przed zapadaniem się i przechylaniem, 
                    niezależnie od pracy gruntu. Na tym etapie dbamy też o otoczenie. 
                    W zależności od Twoich oczekiwań możemy również ułożyć estetyczną posadzkę wokół grobu - kostkę, 
                    płytki lub płyty granitowe.
                </p>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row gap-3 lg:col-start-1 lg:row-start-4">
            <a href="#realizacje" class="btn-primary flex-grow text-center">
                Nasze produkty
            </a>
            <a href="#kontakt" class="btn-cta flex-grow text-center">
                Skontaktuj się
            </a>
        </div>
    </div>
</section>

{# SEKCJA DESKTOPOWA #}
<section class="hidden lg:block px-4 py-16 max-w-screen-xl mx-auto">
    <div class="grid grid-cols-1 items-start gap-8 lg:grid-cols-2">
        <div>
            <h1 class="mb-4 text-3xl font-bold text-gray-800">Jak budujemy nasze nagrobki?</h1>
            <div role="group" class="js-controls-container my-4 flex flex-col rounded-md shadow-sm sm:flex-row">
                <button type="button" data-part="head" class="switch-button switcher flex flex-1 justify-center rounded-t-md bg-cherry px-4 py-2 text-sm font-semibold text-white sm:rounded-l-md sm:rounded-tr-none">
                    Liternictwo
                </button>
                <button type="button" data-part="body" class="switch-button switcher flex flex-1 justify-center bg-cherry px-4 py-2 text-sm font-semibold text-white">
                    Płyta
                </button>
                <button type="button" data-part="base" class="switch-button switcher flex flex-1 justify-center rounded-b-md bg-cherry px-4 py-2 text-sm font-semibold text-white sm:rounded-bl-none sm:rounded-r-md">
                    Fundament
                </button>
            </div>
            <p class="text-lg text-gray-700">
                <b>Nasze usługi obejmują cały proces:</b> od selekcji odpowiedniego kamienia, po precyzyjne i terminowe
                wykonawstwo z zastosowaniem najlepszych praktyk branżowych.
            </p>
            <div class="mb-4 min-h-32 js-desc-container">
                <p data-part="head" class="text-lg text-gray-700 tomb-desc">
                    Zwieńczeniem prac jest montaż nakrywy, płyty z napisami oraz galanterii nagrobkowej. 
                    Wazony, misy i krzyże <b>przytwierdzamy na stałe do płyty</b>, aby zabezpieczyć je przed silnymi wiatrami. 
                </p>
                <p data-part="body" class="text-lg text-gray-700 tomb-desc">
                    Gotowe, granitowe ramy leżące oraz stojące łączymy za pomocą <b>klamr ze stali nierdzewnej</b>, 
                    aby na kamieniu nigdy nie pojawiły się rdzawe zacieki. Wnętrze ramy wzmacniamy gęstą 
                    zaprawą cementową. Ten zabieg usztywnia całą bryłę pomnika od środka, czyniąc ją masywną i 
                    odporną na przypadkowe uderzenia. Całość uszczelniamy profesjonalnymi żywicami i silikonami, 
                    dopasowanymi do koloru kamienia.
                </p>
                <p data-part="base" class="text-lg text-gray-700 tomb-desc">
                    Budowę nagrobka rozpoczynamy od wykonania <b>solidnej, zbrojonej wylewki betonowej</b>. 
                    Jej zadaniem jest zabezpieczenie nagrobka przed zapadaniem się i przechylaniem, 
                    niezależnie od pracy gruntu. Na tym etapie dbamy też o otoczenie. 
                    W zależności od Twoich oczekiwań możemy również ułożyć estetyczną posadzkę wokół grobu - kostkę, 
                    płytki lub płyty granitowe.
                </p>
            </div>
            <div class="flex flex-col gap-3 sm:flex-row">
                <a href="#realizacje" class="btn-primary flex-grow text-center"> Galeria realizacji </a>
                <a href="#kontakt" class="btn-cta flex-grow text-center"> Skontaktuj się </a>
            </div>
        </div>

        <div class="bg-graph w-full rounded-lg bg-animate-slide bg-center p-8 shadow-lg js-svg-container">
            <div class="svg-container landing-svg-tombstone-desktop">
                {% include 'svgs/tombstone.html.twig' %}
            </div>
        </div>
    </div>
</section>