{% set recommendedGranites = [
    {
        name: "Biały granit",
        desc: "Elegancki i ponadczasowy, biały granit nadaje pomnikowi lekkości i klasy.",
        img: "18._orion_silk.jpg"
    },
    {
        name: "Czerwony granit",
        desc: "Wyrazisty i pełen charakteru, czerwony granit wyróżnia się na tle innych.",
        img: "18._orion_silk.jpg"
    },
    {
        name: "Czarny granit",
        desc: "Klasyczny i dostojny, czarny granit symbolizuje trwałość i elegancję.",
        img: "18._orion_silk.jpg"
    }
] %}

<section class="py-4 lg:py-8">
  {# --- Część statyczna z opisem --- #}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start max-w-screen-xl mx-auto px-4 my-16">
    <div>
        <img src="{{ theme_url }}/images/photos/stones-photo-3.jpg" alt="Piękny sarkofag Kamelia wykonany z granitu strzegomskiego"
        class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col space-y-6">
        <h2 class="text-3xl font-bold text-gray-800 mb-2 border-bot-cherry">
            Polecane kamienie
        </h2>
        <p class="text-lg text-gray-700">
            Pracujemy wyłącznie na <strong>sprawdzonych gatunkach granitu i gnejsu</strong>, które charakteryzują się niską nasiąkliwością i pełną mrozoodpornością. 
            Każdy blok kamienia poddajemy surowej selekcji, odrzucając materiały z mikropęknięciami czy wadami ukrytymi. 
        </p>
        <p class="text-lg text-gray-700">
            Dzięki temu mamy pewność, że <strong>polecane przez nas kamienie zachowają trwałą, wyrazistą barwę i pełną odporność</strong> na zmienne warunki atmosferyczne. 
        </p>

        <a href="{{ page.find('/kamienie').url }}" class="btn-primary w-full flex justify-center">
            Wszystkie dostępne kamienie
        </a>
    </div>
  </div>

  {# --- Tutaj dołączasz komponent karuzeli --- #}
  {# Komponent otrzyma listę zdefiniowaną powyżej (bez piaskowca) #}
  {% include 'modular/stones-carousel-static.html.twig' with {
      items: recommendedGranites,
      unique_id: 'recommendedGranites'
  } %}

</section>

