<div class="w-full max-w-[1200px] mx-auto aspect-video golden-img-border hard-shadow rounded-lg my-4 lg:my-16">
  <video
    class="w-full h-full object-cover"
    src="{{ theme_url }}/images/video/vk-ad-test.mp4"
    autoplay
    loop
    
    playsinline
    controls
  >
    Twoja przeglądarka nie wspiera tagu wideo.
  </video>
</div>