<div class="w-full max-w-[1200px] mx-auto aspect-video golden-img-border-pointer hard-shadow rounded-lg my-4 lg:my-16">
  <video
    class="w-full h-full object-cover"
    src="{{ theme_url }}/images/video/vk-ad-720p.mp4"
    title="Film reklamowy Kamieniarstwa Wiśniewski z Dąbrowy Górniczej"
    aria-label="Film prezentujący nasze wartości i usługi w Kamieniarstwie Wiśniewski z Dąbrowy Górniczej"
    autoplay
    loop
    muted
    playsinline
    controls
  >
    Twoja przeglądarka nie wspiera tagu wideo. Zobacz film prezentujący nasze wartości i usługi w Kamieniarstwie Wiśniewski z Dąbrowy Górniczej.
  </video>
</div>