# Composer
.composer
vendor/*
!*/vendor/*

# Sass
.sass-cache

# Grav Specific
backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*

# Environments
.env
.gravenv

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*

# testing stuff
tests/_output/*
tests/_support/_generated/*
tests/cache/*
tests/error.log
system/templates/testing/*
/user/config/versions.yaml
test-frontend/vendor/symfony/deprecation-contracts/
test-frontend/vendor/symfony/yaml/
user/plugins/problems/
user/plugins/error/
user/plugins/markdown-notices/
user/themes/modiquark/
user/themes/quark/
user/themes/vk-theme/dist/css/main.css
