@use 'sass:color';
@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/animations' as *;
// backgrounds


@mixin bg-texture(
    $bg-image, 
    $overlay-color,
    $mix-blend-mode: multiply
) {
    position: relative;
    isolation: isolate;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url($bg-image);
        background-size: cover;
        background-position: center;
        z-index: -2;
    }
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $overlay-color;
        mix-blend-mode: $mix-blend-mode;
        z-index: -1;
    }
}





@mixin bg-clip-texture(
    $bg-image, 
    $overlay-color,
    $clip-path,
    $mix-blend-mode: normal
) {
    position: relative;
    isolation: isolate;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url($bg-image);
        background-size: cover;
        background-position: center;
        z-index: -2;
    }
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $overlay-color;
        mix-blend-mode: $mix-blend-mode;
        z-index: -1;
        clip-path: $clip-path;
    }
}



@mixin gradient-up($gradient-color) {
    position: relative;
    isolation: isolate;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba($gradient-color, 1) 0%, rgba($gradient-color, 0) 15%);
      z-index: 3;
    }
}

@mixin gradient-down($gradient-color) {
    position: relative;
    isolation: isolate;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba($gradient-color, 1) 0%, rgba($gradient-color, 0) 15%);
      z-index: 3;
    }
}

.gradient-up-ink {
    @include gradient-up($ink);
    &::after {
        mix-blend-mode: multiply;
    }
}

.gradient-down-ink {
    @include gradient-down($ink);
    &::after {
        mix-blend-mode: multiply;
    }
}