@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;


.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 2rem;
  min-height: 100vh;
  overflow: visible;

  &__navbar {
    grid-column: 1 / -1;
  }

   &__sidebar {
    display: none;

    @media (min-width: $breakpoint-md) {
      height: fit-content;
      display: block;
      grid-column: span 1;
      position: sticky;
      top: 2rem;
      padding-inline: 0 1rem;
      border-right: 1px solid $light-grey;
      z-index: 99;
    }
  }

  &__main-content {
    display: grid;
    gap: 2rem;
    grid-column: span 12;
    min-height: 200vh;
    @media (min-width: $breakpoint-md) {
      grid-column: span 11;

    }
  }

  &__footer {
    grid-column: 1 / -1;
  }
}