@use '../abstracts/variables' as *;

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 2rem;
  min-height: 100vh;

  &__navbar {
    grid-column: 1 / -1;
  }

  &__sidebar {
    display: none;

    @media (min-width: $breakpoint-md) {
      min-height: 200vh;
      display: block;
      grid-column: span 1;
      padding-inline: 2px;
    }
  }

  &__main-content {
    display: grid;
    gap: 2rem;
    grid-column: span 12;

    @media (min-width: $breakpoint-md) {
      grid-column: span 11;
    }
  }

  &__footer {
    grid-column: 1 / -1;
  }
}