@use 'sass:color';
@use '../abstracts/colors' as *; 
@use '../abstracts/variables' as *; 
@use '../mixins/mixins-backgrounds' as *; 
@use '../mixins/mixins-divs' as *; 

.marble-slab {
  position: relative;
  z-index: 1;
  color: $ink;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: 
    inset -2px -2px 6px rgba($white, 0.6),
    inset 2px 2px 6px rgba($grey, 0.3),
    0 8px 8px rgba($ink, 0.3);
  padding: 1rem;
  isolation: isolate;
  border: 1px solid rgba($white, 0.4);
  transition: border 0.3s ease, box-shadow 0.3s ease;

  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba($white, .97) 0%,   // Increased opacity
      rgba($white, 0.6) 80%,  // Increased opacity
      rgba($white, .1) 100%
    );
    z-index: -1;
  }
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: url('/src/img/textures/marble-white-2.jpg') center/cover no-repeat;
    background-color: $marble;
    z-index: -2;
    opacity: 1;
  }
}

.test-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-height: 600px;
}