{# NIE ZAPOMNIJ O TABLICY POPRZEDZAJĄCEJ TEGO PARTIALA! #}


<section class="py-4 lg:py-8">
    {# <div class="mx-auto">
        <h2 class="text-xl text-gray-800 mb-4 underline--cherry text-left">
            Najczęściej zadawane pytania
        </h2>
    </div> #}
        <div id="faq" class="max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold text-gray-800 mb-4 border-bot-cherry text-center">
            Najczęściej zadawane pytania 
        </h1>
        <p>
        Tutaj znajdziecie odpowiedzi na najczęściej zadawane pytania dotyczące naszych usług kamieniarskich.
        </p>
    </div>
        <div class="space-y-4 pt-8">
            {% for item in faq_items %}
                {# Ustawiamy pierwszą pozycję jako domyślnie otwartą #}
                <div class="faq-item pick-a-card rounded-lg shadow-sm transition-all duration-300 {% if loop.first %}is-active{% endif %}">
                    
                    {# Nagłówek pytania (teraz jest klikalny w całości) #}
                    <div class="faq-question flex justify-between items-center p-5 cursor-pointer">
                        <h3 class="font-bold text-lg text-gray-800">
                            {{ item.question }}
                        </h3>
                        {# Ikona strzałki, która będzie się obracać #}
                        <svg class="faq-icon w-5 h-5 text-gray-500 transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </div>

                    {# Kontener na odpowiedź, który będzie animowany #}
                    <div class="faq-answer-content">
                        <p class="text-gray-600 p-5 pt-0">
                            {{ item.answer|raw }}
                        </p>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</section>