@use 'sass:color';
@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;
@use '../mixins/mixins' as *;

.schowaj {
    display: none;
}
.schowaj-mocno {
    display: none !important;
}
.is-hidden {
  display: none !important;
}

.reset-fadeIn {
    animation: none !important;
}
.price-highlighted {
    color: $sand;
    background-color: $cherry;
    border-radius: $border-radius;
    padding: 0.2rem 0.5rem;
}

.fill-letters-gold {
    background-color: #c0a258; /* Kolor awaryjny */
    background-image: linear-gradient(
      145deg,
      #feec81 10%,
      #e2c16d 30%,
      #ac9202 50%,
      #6e5718 85%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow:
    rgba(0,0,0,.3) 0px 2px 4px,
    rgba(255,255,255,.25) 0px -1px 1px;
}
.fill-letters-gold-section {
    background-color: #c0a258;
    background-image: linear-gradient(
      170deg,
      #feec81 2%,
      #e2c16d 20%,
      #ac9202 50%,
      #6e5718 95%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    /* NOWY, WARSTWOWY CIEŃ DLA EFEKTU 3D */
    text-shadow: 
        0px 1px 1px rgba(255, 255, 255, 0.3),
        0px 1px 1px rgba(rgb(142, 121, 4), .44);
}
.fill-letters-gold-section-dark {
    background-color: #c0a258;
    background-image: linear-gradient(
      170deg,
      #ffee90 10%,
      #e2c16d 30%,
      #ac9202 50%,
      #6e5718 85%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    /* NOWY, WARSTWOWY CIEŃ DLA EFEKTU 3D */
    text-shadow: 
        0px 1px 1px rgba(255, 255, 255, 0.4),
        0px 1px 1px rgba(rgb(142, 121, 4), .34);
}
.set-border-radius {
    border-radius: $border-radius;
}


.underline {
    &--marble {
        @include underline($marble, 2px);
    }
    &--ink {
        @include underline($ink, 2px);
    }
    &--cherry {
        @include underline($cherry, 2px);
    }
    &--light-cherry {
        @include underline($cherry, 1px);
    }
    &--gold {
        @include underline($gold, 2px);
    }
    &--grey {
        @include underline($grey, 2px);
    }
    &--light-grey {
        @include underline($light-grey, 1px);
    }
}

.hr-underline {
    border: none;
    height: 0.1rem;
    border-radius: 16rem;
}
.border-cherry {
    border: 2px solid $cherry;
}
.border-bot-marble { @include bottom-border ($border-color: $marble); }
.border-bot-sand { @include bottom-border ($border-color: $sand); }
.border-bot-cherry { @include bottom-border ($border-color: $cherry); }
.border-bot-pink { @include bottom-border ($border-color: $pink); }
.border-bot-slate { @include bottom-border ($border-color: $slate); }
.border-bot-carnelian { @include bottom-border ($border-color: $carnelian); }
.border-bot-pyrite { @include bottom-border ($border-color: $pyrite); }
.border-bot-aluminium { @include bottom-border ($border-color: $aluminium); }

.hp1 {
    border: 2px solid green !important;
}

.folder-flag {
    position: absolute;
    z-index: -1;
    display: flex;
    border-radius: $border-radius $border-radius 0  0;
    top: -38%; left: 0;
    width: auto; height: 32px;
    padding-inline: 1.2rem;
}