// =========================================
// 1. kocieTexty Theme Colors
// =========================================

// GŁÓWNE KOLORY MARKI
// =========================================

$ink: #090b15;
$paper: #f5f0f4;
$orange: #f78f1f;
$red: #9d1f2f;

// --- Dodatki użytkowe ---
// =========================================
$white: #fff;
$black: #000;
$trans: rgba(0, 0, 0, 0);


// --- Kolory dopełniające ---
// =========================================
$teal: #058983;      // Muted teal for secondary actions or info boxes
$green: #24c447;     // Deep green for success states or positive feedback
$gold: #f9c74f;      // Soft gold for highlights, icons, or attention tags
$gray: #6d6e75;      // Neutral gray for borders, disabled states, or secondary text
$stone: #928382;
$crimson: #a6155b;
$nature: #1b4b5a;
$plum: #892ed4;       // Rich purple for decorative elements or special highlights


.c-ink {
  color: $ink;
}
.c-paper {
  color: $paper;
}
.c-orange {
  color: $orange;
}
.c-red {
  color: $red;
}
.c-teal {
  color: $teal;
}
.c-green {
  color: $green;
}
.c-gold {
  color: $gold;
}
.c-gray {
  color: $gray;
}
.c-stone {
  color: $stone;
}
.c-nature {
  color: $nature;
}
.c-plum {
  color: $plum;
}
.c-white {
  color: $white;
}
.c-black {
  color: $black;
}
.c-trans {
  color: $trans;
}






.color-box {
    height: 5rem;
    width: 5rem;
    display: inline-block;
    margin: 0.5rem; 
    border: $white 1px solid;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    &.c-ink { background-color: $ink; }
    &.c-paper { background-color: $paper; } 
    &.c-orange { background-color: $orange; }
    &.c-red { background-color: $red; }
    &.c-teal { background-color: $teal; }
    &.c-green { background-color: $green; }
    &.c-gold { background-color: $gold; }
    &.c-gray { background-color: $gray; }
    &.c-stone { background-color: $stone; }
    &.c-nature { background-color: $nature; }
    &.c-plum { background-color: $plum; }
    &.c-white { background-color: $white; }
    &.c-black { background-color: $black; }
    &.c-trans { background-color: $trans; }

}